@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.navbar a:hover {
  background: none;
  border-radius: 0;
}

.navbar a {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0;
  margin-right: 40px;
  padding: 3px 0;
}

.nav-btn {
  color: #404040;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  border: 1.5px solid #404040;
  display: flex;
  padding: 18px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.active-border {
  border-bottom: 1px solid #fd9c06;
  width: 45%;
  /* padding: 3px 0; */
  /* margin-right: 40px; */
}

.font-primary {
  font-family: "Space Grotesk", sans-serif;
}

.font-secondary {
  font-family: "Inter", sans-serif;
}

.wraper {
  max-width: 1380px;
  margin: 0 auto;
  width: 100%;
}

.active {
  color: #fd9c06;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #fd9c06;
}

.navbar-one {
  background-color: #0f0f0f;
  color: #ffffff;
  padding: 20px 300px;
}

.icon {
  height: 20px;
  width: 20px;
}

.logo {
  width: 76px;
  height: 49px;
}

.hero-title {
  color: #0f0f0f;
  font-family: Space Grotesk;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 86px;
  /* 95.556% */
  letter-spacing: -1.8px;
}

.hero-description {
  color: #404040;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.discover-btn {
  display: inline-flex;
  padding: 20px 36px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  align-items: center;
  gap: 10px;
  background: #495af0;
  color: #ffffff;
}

.rating {
  color: #fd9c06;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.52px;
}

.banner-review {
  color: #404040;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.border {
  width: 533px;
  height: 537px;
  flex-shrink: 0;
  border: 4px solid #fd9c06;
}

.more-about {
  color: #404040;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

.about-text {
  color: #eb5757;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 180% */
  text-transform: uppercase;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.collaps-title {
  border-radius: 5px;
  border: 1px solid #d6d8e8;
  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.collaps-title-open {
  border-radius: 5px 5px 0px 0px;
  background: #0f0f0f;

  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.collaps-desc {
  border-radius: 0px 0px 5px 5px;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
}

.line1 {
  width: 69px;
  height: 2px;
  background: #eb5757;
}

.about-title {
  color: #0f0f0f;
  width: 542px;
  font-family: Space Grotesk;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  /* 114.815% */
  letter-spacing: -1.08px;
}

.about-description {
  color: #404040;
  margin-top: 20px;
  width: 526px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 180% */
}

.about-btn {
  display: inline-flex;
  padding: 20px 36px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;

  align-items: center;
  gap: 10px;
  background: #495af0;
  color: #ffffff;
}

.line2 {
  width: 150px;
  height: 1px;
  background: #d6dbde;
}

.count {
  color: #fd9c06;
  margin-top: 27px;

  font-family: Space Grotesk;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 108%;
  /* 43.2px */
}

.count-subtitle {
  color: #404040;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-top: 10px;
}

.feature-text {
  color: #eb5757;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 180% */
  text-transform: uppercase;
}

.feature-title {
  color: #0f0f0f;
  font-family: Space Grotesk;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  /* 114.815% */
  letter-spacing: -1.08px;
  width: 721px;
}

@media (max-width: 576px) {
  .feature-title {
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    /* 114.815% */

    width: 100%;
  }
}

.feature-description {
  color: #404040;
  width: 517px;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 180% */
}

.element {
  width: 294px;
  height: 294px;
  flex-shrink: 0;
  border-radius: 147px 147px 0px 147px;
  background: #c3caff;
}

.project-success {
  width: 215px;
  height: 226px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 8px -7px 54px 0px rgba(202, 202, 202, 0.2);
}

.service-title {
  color: #0f0f0f;
  width: 418px;
  font-family: Space Grotesk;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  margin-bottom: 20px;
  margin-top: 6px;

  letter-spacing: -1px;
}

.service-description {
  color: var(--p-3, #404040);
  font-family: Inter;
  width: 418px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.line02 {
  border-right: 1px dashed hsla(0, 0%, 64%, 1);
  margin-right: 39px;
  height: 70px;
}

.service-cards {
  width: 951px;
  height: 804px;
  flex-shrink: 0;
  background: #f4f9ff;
  margin-left: 249px;
}

.service-card {
  padding: 30px;

  background-color: hsla(0, 0%, 100%, 1);
  width: 398px;
  height: 297px;
}

.shadow {
  width: 418px;
  height: 151px;
  opacity: 0.14000000059604645;
  background: #404040;
  filter: blur(40px);
  color: hsla(0, 0%, 25%, 1);
}

.service-card-title {
  color: #0f0f0f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 14px;
}

.service-card-description {
  color: var(--p-3, #404040);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 12px;
  /* 162.5% */
}

.service-btn {
  color: #495af0;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-top: 30px;
  display: flex;
  /* 144.444% */
}

.team-heading {
  color: #eb5757;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 180% */
  text-transform: uppercase;
}

.team-subheading {
  color: #0f0f0f;
  text-align: center;
  font-family: Space Grotesk;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  /* 124% */
  letter-spacing: -1px;
  margin-bottom: 60px;
}

.image {
  width: 470px;
  height: 550px;
}

.image1 {
  background-image: url(./assets/Image/image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image2 {
  background-image: url(./assets/Image/Image-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image3 {
  background-image: url(./assets/Image/Untitled.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image4 {
  background-image: url(./assets/Image/Image-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image5 {
  background-image: url(./assets/Image/Image-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.expart-des {
  width: 471px;
  height: 124px;
  background: #ffffff;
  display: none;
}

.swiper-slide-active .expart-des {
  display: block;
}

.swiper-slide-active .image {
  box-shadow: 20px 20px 100px -8px rgba(0, 0, 0, 0.14);
}

.expart-name {
  color: #0f0f0f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 14px;
}

.expart-address {
  color: #0f0f0f;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.800000011920929;
}

.testimonial {
  background: #fff5da;
  width: 1920px;
  height: 561px;
  flex-shrink: 0;
}

.testimonial-title {
  width: 651px;
  color: #0f0f0f;
  font-family: Space Grotesk;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  /* 114.815% */
  letter-spacing: -1.08px;
}

.testimonial-content {
  background: #fff;
  box-shadow: 0px 10px 120px -6px rgba(0, 0, 0, 0.06);
}

.review {
  width: 589px;
  height: 182px;
  margin-top: 120px;
  color: #46535a;
  font-family: Inter;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  line-height: 40px;
  /* 181.818% */
}

.reviewer-name {
  color: #2c373e;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
  /* 34.8px */
}

.reviewer-status {
  color: #46535a;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 23.2px */
}

.swiper-pagination {
  margin-left: 270px;
}

.swiper-pagination-bullet-active {
  background-color: #fd9c06 !important;
}

.blog-title {
  color: var(--p-2, #0f0f0f);
  text-align: center;
  font-family: Space Grotesk;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  /* 114.815% */
  letter-spacing: -1.08px;
  margin-top: 392px;
}

.blog-image {
  width: 420.778px;
  height: 314px;
  flex-shrink: 0;
}

.blog-status {
  color: #858585;
  font-family: Inter;
  font-size: 18.003px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line3 {
  width: 420.778px;
  height: 1px;
  background: #e2e2e2;
  margin-top: 27px;
  margin-bottom: 11px;
}

.blog-subtitle {
  color: #0f0f0f;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  /* 158.333% */
  margin-bottom: 10px;
}

.blog-details {
  color: #404040;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 177.778% */
  margin-bottom: 16px;
  width: 417.779px;
}

.blog-date {
  color: #404040;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #fff;
  padding: 14px 10px;
}

.group {
  width: 107.726px;
  height: 108.655px;
  flex-shrink: 0;
}

.feature-card-title {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 100% */
  margin-top: 26px;
  margin-left: 28px;
  margin-bottom: 8px;
}

.feature-card-description {
  color: var(--primary-300, #474747);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 150% */
  padding-left: 28px;
  padding-right: 32px;
  margin-bottom: 20px;
}

.feature-card-button {
  color: #fd9c06;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  /* 120% */
  opacity: 0.8999999761581421;
  display: flex;
  gap: 4px;
  margin-left: 28px;
}

.banner-project {
  width: 274px;
  height: 130px;

  border-radius: 10px;
  background: #fff;
  box-shadow: -10px 23px 54px 0px rgba(172, 172, 172, 0.12);
}

.footer-header {
  color: #fff;
  font-family: Space Grotesk;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.footer-desctiption {
  color: #b4b4b4;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 177.778% */
}

.copyright {
  color: #fff;

  background: rgba(122, 122, 122, 0.07);
  margin-top: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
