@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 20px;
}

.navbar a:hover {
  background: none;
  border-radius: 0;
}

.navbar a {
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 0;
  margin-right: 40px;
  padding: 3px 0;
}

.navbar-start {
  width: 100%;
}

@media (min-width: 768px) {
  .navbar a {
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .navbar-start {
    width: 50%;
  }
}

.nav-btn {
  color: #404040;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  border: 1.5px solid #404040;
  display: flex;
  padding: 18px 26px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar .navbar-end {
  display: none;
}

@media (min-width: 768px) {
  .navbar .navbar-end {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .navbar .navbar-end {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navbar .navbar-end {
    display: flex;
  }
}

.active-border {
  border-bottom: 1px solid #fd9c06;
  width: 45%;
  /* padding: 3px 0; */
  /* margin-right: 40px; */
}

.font-primary {
  font-family: "Space Grotesk", sans-serif;
}

.font-secondary {
  font-family: "Inter", sans-serif;
}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
}

.active {
  color: #fd9c06;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-bottom: 1px solid #fd9c06;
}

.navbar-one {
  background-color: #0f0f0f;
  color: #ffffff;
  padding: 20px 15px;
}

.navbar-one .wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  .navbar-one .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .navbar-one {
  }
}

.navbar-one .social-icons {
  padding-bottom: 10px;
}

@media (min-width: 768px) {
  .navbar-one .social-icons {
    padding-bottom: 0;
  }
}

.dropdown .dropdown-content {
  right: 0;
  padding: 20px;
}

.dropdown .dropdown-content li a {
  font-size: 16px;
}

.dropdown .dropdown-content li:not(:last-child) a {
  margin-bottom: 10px;
}

.icon {
  height: 20px;
  width: 20px;
}

.logo {
  width: 76px;
  height: 49px;
}

.hero-title {
  color: #0f0f0f;
  font-family: Space Grotesk;
  /* font-size: 90px; */
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2em;

  /* 95.556% */
  letter-spacing: -1.8px;
}

@media (min-width: 768px) {
  .hero-title {
    font-size: 55px;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 90px;
  }
}

.hero-area-content {
  padding: 40px 15px;
}

.hero-description {
  color: #404040;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7em;
}

@media (min-width: 768px) {
  .hero-description {
    font-size: 20px;
  }
}

.discover-btn {
  display: inline-flex;
  padding: 20px 36px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  align-items: center;
  gap: 10px;
  background: #495af0;
  color: #ffffff;
  margin-top: 25px;
}

.rating {
  color: #fd9c06;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.52px;
}

.banner-review {
  color: #404040;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.border {
  /* width: 533px;
  height: 537px; */

  border: 4px solid #fd9c06;

  position: absolute;
  top: 70px;
  bottom: -4px;
  left: 0;
  right: 0;
  z-index: 8;
}

.svg-clip {
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  left: 4px;
  right: 4px;
  z-index: 9;
}

.more-about {
  color: #404040;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}

.about-text {
  color: #eb5757;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 180% */
  text-transform: uppercase;
}

.ReactCollapse--collapse {
  transition: height 500ms;
}

.collaps-title {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #d6d8e8;
  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media (min-width: 768px) {
  .collaps-title {
    font-size: 24px;
  }
}

.collaps-title-open {
  border-radius: 5px 5px 0px 0px;
  background: #0f0f0f;
  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .collaps-title-open {
    font-size: 24px;
  }
}

.collaps-desc {
  border-radius: 0px 0px 5px 5px;
  background: #fff;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
}

.line1 {
  width: 69px;
  height: 2px;
  background: #eb5757;
}

.about-title {
  color: #0f0f0f;
  /* width: 542px; */
  font-family: Space Grotesk;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2em;
  /* 114.815% */
  letter-spacing: -1.08px;
}

@media (min-width: 768px) {
  .about-title {
    font-size: 54px;
    line-height: 1.14em;
  }
}

.about-description {
  color: #404040;
  margin-top: 20px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 180% */
}

.about-btn {
  display: inline-flex;
  padding: 20px 36px;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  margin-top: 35px;

  align-items: center;
  gap: 10px;
  background: #495af0;
  color: #ffffff;
}

.line2 {
  width: 150px;
  height: 1px;
  background: #d6dbde;
}

.count {
  color: #fd9c06;
  margin-top: 27px;

  font-family: Space Grotesk;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 108%;
  /* 43.2px */
}

.count-subtitle {
  color: #404040;
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-top: 10px;
}

.feature-text {
  color: #eb5757;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 180% */
  text-transform: uppercase;
}

.feature-title {
  color: #0f0f0f;
  font-family: Space Grotesk;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: -1.08px;
}

@media (min-width: 768px) {
  .feature-title {
    font-size: 54px;
    line-height: 1.1481481481481481em;
    max-width: 721px;
  }
}

.feature-description {
  color: #404040;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2em;
  margin-bottom: 30px;
  /* 180% */
}

.element {
  width: 294px;
  height: 294px;
  flex-shrink: 0;
  border-radius: 147px 147px 0px 147px;
  background: #c3caff;
  position: absolute;
  bottom: -47px;
  right: -10px;
  z-index: -1;
}

@media (min-width: 768px) {
  .element {
    right: -30px;
  }
}

.project-success {
  width: 215px;
  height: 226px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 8px -7px 54px 0px rgba(202, 202, 202, 0.2);
  /* absolute -left-[42px] -bottom-[33px] */
  position: absolute;
  bottom: -30px;
  left: 20px;
  /* left: -42px;
  bottom: -33px; */
}

@media (min-width: 768px) {
  .project-success {
    bottom: -33px;
    left: -42px;
  }
}

.service-title {
  color: #0f0f0f;
  max-width: 100%;
  font-family: Space Grotesk;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 20px;
  margin-top: 6px;

  letter-spacing: -1px;
}

.service-description {
  color: var(--p-3, #404040);
  font-family: Inter;
  max-width: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 2em;
}

.line02 {
  border-right: 1px dashed hsla(0, 0%, 64%, 1);
  margin-right: 39px;
  height: 70px;
}

.service-card {
  padding: 30px;
  background-color: hsla(0, 0%, 100%, 1);
}

.shadow {
  width: 418px;
  height: 151px;
  opacity: 0.14000000059604645;
  background: #404040;
  filter: blur(40px);
  color: hsla(0, 0%, 25%, 1);
}

.service-card-title {
  color: #0f0f0f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 14px;
}

.service-card-description {
  color: var(--p-3, #404040);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-top: 12px;
  /* 162.5% */
}

.service-btn {
  color: #495af0;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  margin-top: 30px;
  display: flex;
  /* 144.444% */
}

.team-heading {
  color: #eb5757;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  /* 180% */
  text-transform: uppercase;
}

.team-subheading {
  color: #0f0f0f;
  text-align: center;
  font-family: Space Grotesk;

  font-style: normal;
  font-weight: 700;

  /* 124% */
  letter-spacing: -1px;
}

.image {
  width: 100%;
  height: 550px;
}

.image1 {
  background-image: url(./assets/Image/image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image2 {
  background-image: url(./assets/Image/Image-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image3 {
  background-image: url(./assets/Image/Untitled.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image4 {
  background-image: url(./assets/Image/Image-4.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image5 {
  background-image: url(./assets/Image/Image-5.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.expart-des {
  width: 100%;

  background: #ffffff;
  display: none;
}

.swiper-slide-active .expart-des {
  display: block;
}

.swiper-slide-active .image {
  box-shadow: 20px 20px 100px -8px rgba(0, 0, 0, 0.14);
}

.expart-name {
  color: #0f0f0f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 14px;
}

.expart-address {
  color: #0f0f0f;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.800000011920929;
}

.testimonial-title {
  max-width: 100%;
  color: #0f0f0f;
  font-family: Space Grotesk;

  font-style: normal;
  font-weight: 700;

  /* 114.815% */
  letter-spacing: -1.08px;
}

.testimonial-content {
  background: #fff;
  box-shadow: 0px 10px 120px -6px rgba(0, 0, 0, 0.06);
}

.review {
  color: #46535a;
  font-family: Inter;
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  line-height: 40px;
  /* 181.818% */
}

.reviewer-name {
  color: #2c373e;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
  /* 34.8px */
}

.reviewer-status {
  color: #46535a;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
  /* 23.2px */
}

.swiper-pagination-bullet-active {
  background-color: #fd9c06 !important;
}

.blog-title {
  color: var(--p-2, #0f0f0f);
  text-align: center;
  font-family: Space Grotesk;
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 62px;
  /* 114.815% */
  letter-spacing: -1.08px;
}

.blog-image {
  width: 420.778px;
  height: 314px;
  flex-shrink: 0;
}

.blog-status {
  color: #858585;
  font-family: Inter;
  font-size: 18.003px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line3 {
  height: 1px;
  background: #e2e2e2;
  margin-top: 27px;
  margin-bottom: 11px;
}

.blog-subtitle {
  color: #0f0f0f;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  /* 158.333% */
  margin-bottom: 10px;
}

.blog-details {
  color: #404040;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 177.778% */
  margin-bottom: 16px;
}

.blog-date {
  color: #404040;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #fff;
  padding: 14px 10px;
}

.group {
  width: 107.726px;
  height: 108.655px;
  flex-shrink: 0;
}

.feature-card-title {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  /* 100% */
  margin-top: 26px;
  margin-left: 28px;
  margin-bottom: 8px;
}

.feature-card-description {
  color: var(--primary-300, #474747);
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  /* 150% */
  padding-left: 28px;
  padding-right: 32px;
  margin-bottom: 20px;
}

.feature-card-button {
  color: #fd9c06;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  /* 120% */
  opacity: 0.8999999761581421;
  display: flex;
  gap: 4px;
  margin-left: 28px;
}

.banner-card {
  position: absolute;
  bottom: -100px;
  z-index: 11;
}

@media (min-width: 768px) {
  .banner-card {
    left: -185px;
    bottom: -110px;
  }
}

.banner-project {
  width: 274px;
  height: 130px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  border-radius: 10px;
  background: #fff;
  box-shadow: -10px 23px 54px 0px rgba(172, 172, 172, 0.12);
}

@media (min-width: 768px) {
  .banner-project {
    margin: 0;
    position: absolute;
    top: 20px;
    right: -97px;
    z-index: 12;
  }
}

.footer-header {
  color: #fff;
  font-family: Space Grotesk;

  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.footer-desctiption {
  color: #b4b4b4;
  font-family: Inter;

  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 177.778% */
}

.copyright {
  color: #fff;

  background: rgba(122, 122, 122, 0.07);
  margin-top: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-sec {
  /* mt-[129px] relative  */
  position: relative;
  margin-top: 0px;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-img {
  display: inline-block;
}

.portrait-img {
  max-width: 100%;
  position: relative;
  z-index: 10;
}

@media (min-width: 768px) {
  .portrait-img {
    transform: translateX(-35px);
  }
}

@media (min-width: 992px) {
  .portrait-img {
    max-width: none;
  }
}

@media (min-width: 1200px) {
  .portrait-img {
    margin-right: 85px;
  }

  .banner {
    padding-top: 109.5px;
  }

  .hero-sec {
    left: -85px;
  }

  .hero-title {
    line-height: 0.955em;
  }

  .banner-project {
    right: -182px;
  }
}

/* @media (min-width: 767px) {
  .hero-sec {
    margin-left: 105px;
  }
  .banner-project {
    top: -65px;
    right: 40px;
  }
  .discover-btn {
    margin-left: 50px;
  }
  .hero-title {
    margin-left: 35px;
    font-size: 80px;
  }
  .hero-description {
    margin-left: 35px;
  }
} */
.testimonial .wrapper,
.service-one .wrapper,
.feature-one .wrapper,
.about .wrapper {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

@media (min-width: 992px) {
  .testimonial .wrapper,
  .service-one .wrapper,
  .feature-one .wrapper,
  .about .wrapper {
    max-width: 688px;
  }
}

@media (min-width: 1200px) {
  .testimonial .wrapper,
  .service-one .wrapper,
  .feature-one .wrapper,
  .about .wrapper {
    max-width: 1320px;
  }
}
.testimonial .testimonial-content,
.service-one .row,
.feature-one .row,
.about .row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
}
.testimonial-img,
.service-content,
.feature-one-faq,
.about-img {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 1200px) {
  .about-img {
    margin-top: 50px;
  }
}

.about-img-item {
  display: inline-block;
  position: relative;
}

.about-img-item::before {
  content: "";
  position: absolute;
  top: -150px;
  right: 0;
  bottom: 0;
  background: #fff5da;
  width: 999999999999999px;
}

@media (min-width: 1200px) {
  .about-img-item::before {
    top: -209px;
  }
}

.service-cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 175px;
  bottom: -90px;
  background: #f4f9ff;
  display: none;
  width: 999999999999999px;
}

@media (min-width: 768px) {
  .service-cards::before {
    display: block;
  }

  .service-cards {
    padding-top: 90px !important;
    margin-top: 120px;
  }
}
.testimonial {
  position: relative;
}
.testimonial::before {
  content: "";
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  bottom: 262px;
  z-index: -10;

  background: #fff5da;
  width: 999999999999999px;
}

.about-img-item img {
  position: relative;
  z-index: 10;
}
.testimonial-swiper,
.service-cards,
.feature-one-content,
.about-content {
  padding-top: 50px;
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 1200px) {
  .testimonial-swiper,
  .feature-one-faq,
  .about-img {
    width: 58.3333333333%;
  }
  .testimonial-img,
  .feature-one-content,
  .about-content {
    padding-top: 0;
    width: 41.6666666667%;
  }
  .testimonial-swiper {
    padding-left: 85px;
    padding-right: 85px;
  }
  .swiper-pagination {
    margin-left: 250px;
  }
}

@media (min-width: 1200px) {
  .service-content {
    width: 33.333333333300004%;
  }

  .service-cards {
    padding-top: 0;
    width: 66.6666666667%;
  }
}

.feature-one {
  padding-top: 50px;
}

@media (min-width: 1200px) {
  .feature-one {
    padding-top: 140px;
  }
}
